<html>
<head>
  <title>Video Streaming Demonstration</title>
</head>
<body>
  <h1>Video Streaming Demonstration</h1>
  <img src="{{ url_for('video_feed') }}" id="video" style="width: 100%; height: auto;">
  <!-- <img src="http://localhost:9000/video_feed"> -->
  <button id="playButton">Play</button>
  <button id="stopButton">Stop</button>

  <script>
    const video = document.getElementById('video');
    const playButton = document.getElementById('playButton');
    const stopButton = document.getElementById('stopButton');

    let isPlaying = false;
    let videoStream;

    playButton.addEventListener('click', () => {
      if (!isPlaying) {
        isPlaying = true;
        playButton.textContent = 'Pause';
        videoStream = new Image();
        videoStream.src = "{{ url_for('video_feed') }}";
        video.src = videoStream.src;
      } else {
        isPlaying = false;
        playButton.textContent = 'Play';
      }
    });

    stopButton.addEventListener('click', () => {
      if (videoStream) {
        videoStream.src = '';
      }
      video.src = '';
      playButton.textContent = 'Play';
      isPlaying = false;
    });
  </script>
</body>
</html>
